html {
	background: #92cf80;
	height: 100%;
}

body{
	width: 75%;
	height: 350%;
	margin: auto;
	background-image: url("fond.jpg");
	background-repeat: repeat;
}

header{
	width: 98%;
    margin: 0px 0px 50px 0px;
	border: 2px black solid;
	padding: 0px 10px 0px 10px;
	/*positionnement*/
	position: fixed;
	top: 0px;
	left: 0px;
	box-shadow: 2px 4px 20px #6e706d;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	vertical-align: center;
	background: #92cf80; 
	z-index: 5;
}

header div{
	margin:0px 0px 0px 10px;
}

nav{
	margin:0px 100px 0px 20px;
}

nav ul{
	width: 100%;
	height: 70%;
	margin-bottom: 20px;
	list-style-type: none;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}

nav ul li a, nav ul li a:visited{
	color: black;
	text-decoration: none;
	font-size: 1.2em;
	transition: font-size .8s;
}

nav ul li a:hover{
	color: #777;
	font-size: 1.3em;
}

section{
	position: absolute;
	top: 150px;
	margin: 0px 0px 0px 50px;
	font-size: 1.2em;
	z-index: 1;
	width: 75%;
}

section h2{
	text-decoration: underline;
	margin: 30px 0px 20px 0px;
}

section article{
	margin: 0px 0px 30px 20px;
	width: 90%;
}

em{
	text-decoration: underline;
}

strong{
	font-weight: bold;
}

section h3{
	margin-left: 50px;
}

section table tr{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5px;
}

section table tr td{
	display: flex;
	flex-direction: row;
}

section table tr td img{
	margin-right: 10px;
}

section table tr td p .chiffre{
	color: #2a968c;
	font-weight: bold;
}

a, a:visited{
	color: black;
}

.center{
	margin-left: 30px;
}

.align{
	display: flex;
	flex-direction: row;
	vertical-align: center;
	margin-bottom: 10px;
}

.align p{
	margin-top: 50px;
}

figure #last{
	width:100%;
}

#last figcaption{
	text-align: center;
}

figcaption{
	margin-left: 5%;
	font-size: 0.9em;
	font-style: oblique;
}

figure{
	margin: 0;
}

#slider img{
	float: left;
	position: relative;
	animation-name: slide;
	animation-delay: 1s;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

#slider ul{
	display: flex;
	width: 322px;
	height: 242px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	margin-left: 50px;
}

@keyframes slide{
	0%{left:0px;}
	25%{left: -322px;}
	50%{left: -644px;}
	75%{left: -966px;}
	100%{left: 0px;}
}


#intro{
	margin-top: 100px;
}
